
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: #00001d;
  font-family: 'Ubuntu', sans-serif;
}

h1 {color: #ddd;}
strong {color: #ddd;}
p {color: #ddd;}
details {color: #ddd;}

First {
  border: solid;
  border-color: #ddd;
}
#Live {
  position: absolute;
  transform: translateX(30px);
}

details {
  transform: translateX(20px);
  left: 20px;
}
p {
    transform: translateX(30px);
  left: 20px;
}
